<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">

                    <div class="card">
                        <div class="card-header">
                            <h1>Emprestimos</h1>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#cadastrar_aluno_modal">Adicionar Emprestimo</button>
                            <br><br>
                            <table class="table" id="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Livro</th>
                                        <th scope="col">Aluno</th>
                                        <th scope="col">Data Emprestimo</th>
                                        <th scope="col">Data devolução</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="table_emprestimos">

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>



        <!-- Modal para adicionar -->
        <div class="modal fade" id="cadastrar_aluno_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adicionar Emprestimo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <form>
                            <div class="form-group">
                                <label for="">Aluno</label>
                                <select class="form-control" id="select_aluno">
                                    <option>Selecione um aluno</option>

                                </select>
                            </div>

                            <div class="form-group mt-3">
                                <label for="">Livro</label>
                                <select class="form-control" id="select_livro">
                                    <option>Selecione um livro</option>

                                </select>
                            </div>

                            <div class="form-group mt-3">
                                <label for="">Data Emprestimo</label>
                                <input type="date" id="data_emprestimo" class="form-control" required>
                            </div>

                            <div class="form-group mt-3">
                                <label for="">Data Devolução</label>
                                <input type="date" id="data_devolucao" class="form-control" required>
                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="criarEmprestimo()">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>

    



        <%- include('../../partials/footer.ejs') %>
            <script src="/axios/emprestimos.js"></script>
            <script>
                getEmprestimos()
            </script>